// SCSS VARIABLES

$primary-color: rgb(197, 173, 128);
$secondary-color: rgb(73, 142, 92);
$tertiary-color: rgb(37, 37, 37);
$quaternary-color: rgb(156, 135, 97);
$quinary-color: rgb(230, 198, 139);

$primary-font: 'VT323', monospace;
$secondary-font: Arial, Helvetica, sans-serif;
$border: 4px solid black;
$primary-hoverBtn: #97a2dc;
$secondary-hoverBtn: #63c166;
