// SCSS VARIABLES
// Need 10-15
// NEED 2 MORE VARIABLES

$primary-color: rgb(197, 173, 128);
$secondary-color: rgb(73, 142, 92);
$tertiary-color: rgb(37, 37, 37);
$primary-font: 'VT323', monospace;
$secondary-font: Arial, Helvetica, sans-serif;

$border: 4px solid black;
$primary-hoverBtn: #97a2dc;
$secondary-hoverBtn: #63c166;
